@{
    ViewBag.Title = "FAGNER Page";
}

<div class="jumbotron">
    <h1>FAGNER LUIZ DE OLIVEIRA</h1>
    <p class="lead">I am a Software developer with twelve years of experience. I look for a job where I can use new technologies and assume new challenges. In my current job I've been developing web and mobile applications for a international company. I had developed applications before focused on digital signage, survey management, transportation, supermarkets and sales store. I’m a tech lover with a good experience with Microsoft .Net, REST applications, web services, web design, orm database, and java for android. I’m dedicated, committed and honest professional.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<br />
<br />

<p>
    <h3>Data</h3>
    @ViewBag.ActualDateTime;
</p>

<p>
    <h3>Process</h3>
    @ViewBag.Process;
</p>

<p>
    <h3>Process Async</h3>
    @ViewBag.ProcessAsync;
</p>


</div>