@{
    ViewBag.Title = "FAGNER Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<br />
<br />

<p>
    <h3>Data</h3>
    @ViewBag.ActualDateTime;
</p>

<p>
    <h3>Process</h3>
    @ViewBag.Process;
</p>

<p>
    <h3>Process Async</h3>
    @ViewBag.ProcessAsync;
</p>


</div>